/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  background: white;
  background-image: 
    repeating-linear-gradient(0deg, transparent, transparent 49px, darkgreen 50px),
    repeating-linear-gradient(-90deg, transparent, transparent 49px, darkgreen 50px);
}